<!DOCTYPE html>
<html  lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bài 1+2 Lab4</title>
</head>
<style>
    i{
        color: red;
    }
</style>
<body>
    <i th:text="${message}">Thông báo</i>

    <form th:object="${staff}"
          th:action="@{/staff/save}"
          method="post"
          enctype="multipart/form-data">
        Email:
        <input th:field="*{id}">
        <i th:errors="*{id}"></i>
        <hr>

        Fullname:
        <input th:field="*{fullname}">
        <i th:errors="*{fullname}"></i>
        <hr>
        Gender:
        <label> <input type="radio" th:field="*{gender}" value="true">Nam </label>
        <label> <input type="radio" th:field="*{gender}" value="false">Nữ</label>
        <i th:errors="*{gender}"></i>
        <hr>

        Birthday:
        <input type="date" th:field="*{birthday}">
        <i th:errors="*{birthday}"></i>
        <hr>

        Photo:
        <input th:field="*{photo}" type="hidden" >
        <input name="photo_file" type="file">
        <hr>

        Average Mark:
        <select th:field="*{level}" >
            <option value="0">Úy</option>
            <option value="1">Tá</option>
            <option value="2">Thiếu Tướng</option>
            <option value="3">Tướng </option>
            <option value="4">ĐẠi tướng</option>
        </select>
        <hr>
        salary:
        <input type="number" th:field="*{salary}">
        <i th:errors="*{salary}"></i>
        <hr>

        <button type="submit">Lưu</button>
    </form>

    <p>
    <img th:src="@{|/photos/${staff.photo}|}"
    style="height:200px" alt="photo">
    </p>
</body>
</html>